.badge {
  width: fit-content;
  height: fit-content;

  font-weight: 600;
  border-radius: var(--radius-4);
  padding: 8px;
}

.clear {
  background-color: var(--primary-900);
  color: var(--primary-100);
}

.dark {
  background-color: var(--primary-100);
  color: var(--white);
}
